.main{
    background: rgba(255,255,255,0.8);
    margin-left:180px;
    min-height: 100vh; 
    // background-size: cover;
    padding-left: 20px;
}
a{
    text-decoration: none;
}
.span12{
    margin-left: 15px;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
form{
    float: left;
}
.word{
    display: inline-block;
}
.word select{
    margin: 0;
    width: 140px;
}
.word input,.word select{
background-color: #ffffff;
border: 1px solid #666;
display: inline-block;
padding: 5px 6px;
font-size: 14px;
line-height: 20px;
color: #555555;
border-radius: 4px;
}
button{
    background: #990000;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 6px;
    color: #fff;
    margin: 0 10px;
}
.selss{
    color: #fff;
    background: #990000;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
sub{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
table{
    width: 100%;
    background: #fbfbfb;
}
table th{
    padding: 6px 0;
}
table td{
    text-align: center;
    padding: 6px 0;
}
.odds{
    background: #990000;
    color:#fff;
}
#firstr{
    color: #333;
}
.lists:nth-of-type(even){
    background: #FFE8E8;
}
.width{
    width: 160px;
}
.right{
    float:right;
    margin-right: 20px;
}
ul li { 
    list-style-type:none; 
}
.main .el-pagination{
    text-align: center;
}
