.main{
    background: rgba(255,255,255,0.8);
    margin-left:180px;
    min-height: 100vh; 
    // background-size: cover;
    padding-left: 20px;
}
a{
    text-decoration: none;
}
.span12{
    margin-left: 15px;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
form{
    float: left;
}
.word{
    display: inline-block;
}
.word select{
    margin: 0;
    width: 140px;
}
.word input,.word select{
background-color: #ffffff;
border: 1px solid #666;
display: inline-block;
padding: 5px 6px;
font-size: 14px;
line-height: 20px;
color: #555555;
border-radius: 4px;
}
button{
    background: #990000;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 6px;
    color: #fff;
    margin: 0 10px;
}
.selss{
    color: #fff;
    background: #990000;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
sub{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
table{
    width: 100%;
    background: #fbfbfb;
}
table th{
    padding: 6px 0;
}
table td{
    text-align: center;
    padding: 6px 0;
}
.odds{
    background: #990000;
    color:#fff;
}
#firstr{
    color: #333;
}
.lists:nth-of-type(even){
    background: #FFE8E8;
}
.lists span{
    color: #990000;
}
.width{
    width: 160px;
}
.right{
    float:right;
    margin-right: 20px;
}
ul li { 
    list-style-type:none; 
}
.main .el-pagination{
    text-align: center;
}
#scroll{
    display: block;
    // height:72px; 
    height:140px;
    overflow-y:scroll;
    word-break: break-all;
    -moz-overflow-y:scroll;
    -webkit-overflow-y:scroll;
}
.left{
    float:left;
}
.strong{
    // width: 12.5%;
    padding: 0 10px;
    //  line-height: 37px;
    // border-right:2px solid #ddd;
}
.had{
    color: #990000;
    // line-height: 6px;
    // width: 12.5%;
    padding: 0 10px;
    // border-right:2px solid #ddd;
}
.eq{
    padding: 0 10px;
}
ul.bel li{
    text-align: left !important;
}
.way li{
    margin-bottom: 4px;
    background: #FBFBFB;
    padding: 0 10px;
    color: #666;
}
.bel{
    padding: 0;
    margin: 0;
    display: inline-block;
    // line-height: 6px;
}
#scro{
    display: block;
    // height:72px; 
    height:316px;
    overflow-y:scroll;
    word-break: break-all;
    -moz-overflow-y:scroll;
    -webkit-overflow-y:scroll;
}
//遮罩
#bg {
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1001;
	-moz-opacity:0.7;
	opacity:.70;
	filter:alpha(opacity=70);
}
#show {
	display:none;
	position:absolute;
	top:25%;
	left:22%;
	width:53%;
	height:42%;
	padding:8px;
	border:8px solid #E8E9F7;
	background-color:white;
	z-index:1002;
	// overflow:auto;
}
.fontse{
    background: #666;
    color: #fff;
}
#btnclose{
    float: right; 
    border-radius: 2px;
}
#btnshow,#btnclose{
    border: 1px solid #8ae4fc;
    background:#e6effb;
    color: #666;
}
.barrier tr:nth-of-type(even){
    background: #FFE8E8;
}